*.pdf
/.direnv/
/TODO.md
.dockerignore
.gitignore
.git
/*
!/published
/published/.git
!/src
/src/pdfexport_add_export.patch
!/vite.config.js
!/package.json
!/yarn.lock
!/deno.lock
!/multiplex/index.js
!/multiplex/package.json
!/multiplex/package-lock.json
