*.pdf
/.direnv/
/TODO.md
.dockerignore
.gitignore
.git
/*
!/published
/published/.git
!/src
/src/*
!/src/entrypoint.sh
!/src/multiplex.sh
!/vite.config.js
!/package.json
!/yarn.lock
!/deno.lock
!/multiplex/index.js
!/multiplex/package.json
!/multiplex/package-lock.json
