/node_modules/**
/public/reveal.js-master.bak
# The ignore dance - the parent directory needs to be explicitly unignored
/public/reveal.js-master/*
!/public/reveal.js-master/plugin
/public/reveal.js-master/plugin/*
!/public/reveal.js-master/plugin/markdown
/public/reveal.js-master/plugin/markdown/*
!/public/reveal.js-master/plugin/markdown/plugin.js
