*.pdf
/.direnv/
/TODO.md
/node_modules

# ignore vendor plugins
/public/vendor/dompurify/**
/public/vendor/apexcharts/**
/public/vendor/chart.js/**
/public/vendor/highlight.js/**
/public/vendor/marked/**
/public/vendor/mermaid/**
/public/vendor/reveal-pdfexport/**
/public/vendor/reveal.js/**
/public/vendor/reveal.js-plugins/**

/published/
