/* FIX: hide customcontrols when printing slides, bug https://github.com/rajgoel/reveal.js-plugins/issues/159 */
@media print {
  #customcontrols {
    display: none !important;
  }
}

@media screen {
  #customcontrols {
    display: var(--display-customcontrols);
  }
  /* FIX: always show button to collapse custom controls */
  #customcontrols button {
    display: block !important;
  }
  #customcontrols ul {
    bottom: 64px !important;
  }
}

/* Workaround to improve sharpness of charts: https://github.com/chartjs/Chart.js/issues/2814 */
canvas {
  box-sizing: initial !important;
}

/*  box  * {{{1
*********/

.box-1rem {
  height: 1rem;
  width: 1rem;
}

.box-2rem {
  height: 2rem;
  width: 2rem;
}

.box-3rem {
  height: 3rem;
  width: 3rem;
}

.box-4rem {
  height: 4rem;
  width: 4rem;
}

.box-5rem {
  height: 5rem;
  width: 5rem;
}

.box-6rem {
  height: 6rem;
  width: 6rem;
}

.box-8rem {
  height: 8rem;
  width: 8rem;
}

.box-10rem {
  height: 10rem;
  width: 10rem;
}

.box-12rem {
  height: 12rem;
  width: 12rem;
}

.box-14rem {
  height: 14rem;
  width: 14rem;
}

.box-16rem {
  height: 16rem;
  width: 16rem;
}

/*  height  * {{{1
*********/

.height-10rem {
  height: 10rem;
}

.height-11rem {
  height: 11rem;
}

.height-12rem {
  height: 12rem;
}

.height-16rem {
  height: 16rem;
}

.height-20rem {
  height: 20rem;
}

.height-24rem {
  height: 24rem;
}

.height-28rem {
  height: 28rem;
}

.height-32rem {
  height: 32rem;
}

/*  width  * {{{1
***********/

.width-1rem {
  width: 1rem;
}

.width-1-5rem {
  width: 1.5rem;
}

.width-2rem {
  width: 2rem;
}

.width-3rem {
  width: 3rem;
}

.width-4rem {
  width: 4rem;
}

.width-5rem {
  width: 5rem;
}

.width-6rem {
  width: 6rem;
}

.width-7rem {
  width: 7rem;
}

.width-8rem {
  width: 8rem;
}

.width-9rem {
  width: 9rem;
}

.width-10rem {
  width: 10rem;
}

.width-10p {
  width: 10%;
}

.width-20p {
  width: 20%;
}

.width-30p {
  width: 30%;
}

.width-40p {
  width: 40%;
}

.width-50p {
  width: 50%;
}

.width-60p {
  width: 60%;
}

.width-70p {
  width: 70%;
}

.width-80p {
  width: 80%;
}

.width-90p {
  width: 90%;
}

.width-100p {
  width: 100%;
}

/*  display  * {{{1
*************/

.inline-grid {
  display: inline-grid;
}

.grid {
  display: grid;
}

.grid-50-50 {
  grid-template: auto / 50% 50%;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/*  align  * {{{1
***********/

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.align-self-center {
  align-self: center;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

/*  padding  * {{{1
*************/

.padding-0-1rem {
  padding: 0.1rem;
}

/*  margin  * {{{1
************/

.margin-lr-0-1rem {
  margin: 0 0.1rem;
}

.margin-lr-0-5rem {
  margin: 0 0.5rem;
}

.margin-lr-1rem {
  margin: 0 1rem;
}

.margin-lr-2rem {
  margin: 0 2rem;
}

.margin-lr-3rem {
  margin: 0 3rem;
}

.margin-lr-4rem {
  margin: 0 4rem;
}

.margin-lr-5rem {
  margin: 0 5rem;
}

.margin-lr-6rem {
  margin: 0 6rem;
}

.margin-lr-7rem {
  margin: 0 7rem;
}

.margin-lr-8rem {
  margin: 0 8rem;
}

.margin-tb-0-5rem {
  margin: 0.5rem 0;
}

.margin-tb-1rem {
  margin: 1rem 0;
}

.margin-tb-2rem {
  margin: 2rem 0;
}

.margin-tb-3rem {
  margin: 3rem 0;
}

.margin-tb-4rem {
  margin: 4rem 0;
}

.margin-tb-5rem {
  margin: 5rem 0;
}

.margin-tb-6rem {
  margin: 6rem 0;
}

.margin-tb-7rem {
  margin: 7rem 0;
}

.margin-tb-8rem {
  margin: 8rem 0;
}

/*  shadow  * {{{1
************/

.box-shadow-rb {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
    4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-shadow-rbl {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-shadow-trbl {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-shadow-bl {
  box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2),
    -4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  radius  * {{{1
************/

.radius-5px {
  border-radius: 5px;
}

.radius-5p {
  border-radius: 5%;
}

.radius-10p {
  border-radius: 10%;
}

.radius-20p {
  border-radius: 20%;
}

.radius-30p {
  border-radius: 30%;
}

.radius-40p {
  border-radius: 40%;
}

.radius-50p {
  border-radius: 50%;
}

/*  font-size  * {{{1
***************/

.fs-0-3 {
  font-size: 0.3rem;
}

.fs-0-4 {
  font-size: 0.4rem;
}

.fs-0-5 {
  font-size: 0.5rem;
}

.fs-0-6 {
  font-size: 0.6rem;
}

.fs-0-7 {
  font-size: 0.7rem;
}

.fs-0-8 {
  font-size: 0.8rem;
}

.fs-0-9 {
  font-size: 0.9rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-1-2 {
  font-size: 1.2rem;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.fs-1-7 {
  font-size: 1.7rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-6 {
  font-size: 6rem;
}

.fs-7 {
  font-size: 7rem;
}

.fs-8 {
  font-size: 8rem;
}

/*  misc  * {{{1
**********/

.column {
  display: inline-block;
  vertical-align: top;
}

.overflow-hidden {
  overflow: hidden;
}

.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

/* vi: fdm=marker
 * */
