/* FIX: hide customcontrols when printing slides, bug https://github.com/rajgoel/reveal.js-plugins/issues/159 */
@media print {
  #customcontrols {
    display: none !important;
  }
}

@media screen {
  #customcontrols {
    display: var(--display-customcontrols);
  }
  /* FIX: always show button to collapse custom controls */
  #customcontrols button {
    display: block !important;
  }
  #customcontrols ul {
    bottom: 64px !important;
  }
}

/* Workaround to improve sharpness of charts: https://github.com/chartjs/Chart.js/issues/2814 */
canvas {
  box-sizing: initial !important;
}

/* reduce font size of sub-items */
li {
  font-size: inherit;
}

li li {
  font-size: 80%;
}

li li li {
  font-size: 80%;
}

li li li li {
  font-size: 80%;
}

li li li li li {
  font-size: 80%;
}

figure caption {
  font-size: 60%;
}
